<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbAffiliationDeleteResult" type="MsbAffiliationDeleteBean">
		<result property="affiliation" column="affiliation"/>
		<result property="description" column="description"/>
	</resultMap>
	
	<delete id="deleteMsbAffiliation" parameterType="com.micro.msb.beans.MsbAffiliationDeleteBean">
		delete from msb_affiliation where affiliation = #{affiliation};
	</delete>

</mapper>
