<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbMucserviceDeleteResult" type="MsbMucserviceDeleteBean">
		<result property="serviceid" column="serviceID"/>
		<result property="domain" column="domain"/>
		<result property="subdomain" column="subdomain"/>
		<result property="description" column="description"/>
		<result property="ishidden" column="isHidden"/>
	</resultMap>
	
	<delete id="deleteMsbMucservice" parameterType="com.micro.msb.beans.MsbMucserviceDeleteBean">
		delete from msb_mucservice where serviceID = #{serviceid};
	</delete>

</mapper>
