<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
	
	<resultMap id="msbMucmemberResult" type="MsbMucmemberBean">
		<result property="roomid" column="roomID"/>
		<result property="jid" column="jid"/>
		<result property="subscriber" column="subscriber"/>
		<result property="nickname" column="nickname"/>
		<result property="firstname" column="firstName"/>
		<result property="lastname" column="lastName"/>
		<result property="url" column="url"/>
		<result property="email" column="email"/>
		<result property="faqentry" column="faqentry"/>
	</resultMap>

	<select id="countMsbMucmemberSearch" parameterType="com.micro.msb.beans.MsbMucmemberSearchBean" resultType="Integer">
		select count(*) from msb_mucmember
		<where>
			<if test="roomid!=null">
				roomID like #{roomid}
			</if>
			<if test="jid!=null">
				jid like #{jid}
			</if>
			<if test="subscriber!=null">
				subscriber like #{subscriber}
			</if>
			<if test="nickname!=null">
				nickname like #{nickname}
			</if>
			<if test="firstname!=null">
				firstName like #{firstname}
			</if>
			<if test="lastname!=null">
				lastName like #{lastname}
			</if>
			<if test="url!=null">
				url like #{url}
			</if>
			<if test="email!=null">
				email like #{email}
			</if>
			<if test="faqentry!=null">
				faqentry like #{faqentry}
			</if>
		</where>		
	</select>

	<select id="searchMsbMucmember" parameterType="com.micro.msb.beans.MsbMucmemberSearchBean" resultMap="msbMucmemberResult">         
		select * from msb_mucmember  
		<where>
			<if test="roomid!=null">
				roomID like #{roomid}
			</if>
			<if test="jid!=null">
				jid like #{jid}
			</if>
			<if test="subscriber!=null">
				subscriber like #{subscriber}
			</if>
			<if test="nickname!=null">
				nickname like #{nickname}
			</if>
			<if test="firstname!=null">
				firstName like #{firstname}
			</if>
			<if test="lastname!=null">
				lastName like #{lastname}
			</if>
			<if test="url!=null">
				url like #{url}
			</if>
			<if test="email!=null">
				email like #{email}
			</if>
			<if test="faqentry!=null">
				faqentry like #{faqentry}
			</if>
		</where> limit 10 offset #{rowid}
	</select>

</mapper>
