<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbMucmemberDeleteResult" type="MsbMucmemberDeleteBean">
		<result property="roomid" column="roomID"/>
		<result property="jid" column="jid"/>
		<result property="subscriber" column="subscriber"/>
		<result property="nickname" column="nickname"/>
		<result property="firstname" column="firstName"/>
		<result property="lastname" column="lastName"/>
		<result property="url" column="url"/>
		<result property="email" column="email"/>
		<result property="faqentry" column="faqentry"/>
	</resultMap>
	
	<delete id="deleteMsbMucmember" parameterType="com.micro.msb.beans.MsbMucmemberDeleteBean">
		delete from msb_mucmember where roomID = #{roomid};
	</delete>

</mapper>
