<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbMenusWriteResult" type="MsbMenusWriteBean">
		<result property="name" column="name"/>
		<result property="link" column="link"/>
		<result property="display" column="display"/>
	</resultMap>
	
	<update id="writeMsbMenus" parameterType="com.micro.msb.beans.MsbMenusWriteBean">
		update msb_menus set name = #{name},
		link = #{link},
		display = #{display} where name = #{name};
	</update>

</mapper>
