<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbPubsubitemNewResult" type="MsbPubsubitemNewBean">
		<result property="serviceid" column="serviceID"/>
		<result property="nodeid" column="nodeID"/>
		<result property="id" column="id"/>
		<result property="jid" column="jid"/>
		<result property="creationdate" column="creationDate"/>
		<result property="payload" column="payload"/>
	</resultMap>
	
	<insert id="newMsbPubsubitem" parameterType="com.micro.msb.beans.MsbPubsubitemNewBean">
		insert into msb_pubsubitem(serviceID,nodeID,id,jid,creationDate,payload) 
		values (#{serviceid},#{nodeid},#{id},#{jid},#{creationdate},#{payload});
	</insert>

</mapper>
