<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbRevenueNewResult" type="MsbRevenueNewBean">
		<result property="subscriber" column="subscriber"/>
		<result property="account" column="account"/>
		<result property="from" column="from"/>
		<result property="to" column="to"/>
		<result property="debit" column="debit"/>
		<result property="credit" column="credit"/>
		<result property="description" column="description"/>
		<result property="activity" column="activity"/>
		<result property="datetime" column="dateTime"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<insert id="newMsbRevenue" parameterType="com.micro.msb.beans.MsbRevenueNewBean">
		insert into msb_revenue(subscriber,account,from,to,debit,credit,description,activity,dateTime,status) 
		values (#{subscriber},#{account},#{from},#{to},#{debit},#{credit},#{description},#{activity},#{datetime},#{status});
	</insert>

</mapper>
