<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbRevenueDeleteResult" type="MsbRevenueDeleteBean">
		<result property="subscriber" column="subscriber"/>
		<result property="account" column="account"/>
		<result property="from" column="from"/>
		<result property="to" column="to"/>
		<result property="debit" column="debit"/>
		<result property="credit" column="credit"/>
		<result property="description" column="description"/>
		<result property="activity" column="activity"/>
		<result property="datetime" column="dateTime"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<delete id="deleteMsbRevenue" parameterType="com.micro.msb.beans.MsbRevenueDeleteBean">
		delete from msb_revenue where subscriber = #{subscriber};
	</delete>

</mapper>
