<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.msb.dao.mapper.DaoMapper">			
		
	<resultMap id="msbVcardWriteResult" type="MsbVcardWriteBean">
		<result property="subscriber" column="subscriber"/>
		<result property="vcard" column="vcard"/>
	</resultMap>
	
	<update id="writeMsbVcard" parameterType="com.micro.msb.beans.MsbVcardWriteBean">
		update msb_vcard set subscriber = #{subscriber},
		vcard = #{vcard} where subscriber = #{subscriber};
	</update>

</mapper>
